.banner{
    padding : 4%;
    display: flex;
    margin-top: max(90px,5.2vw) ;
    align-items: center;
   justify-content: center;
   flex-direction: column;
     gap: max(30px,1vw);
}
.title{
    font-size: max(30px,2.5vw);
}
.img {
    width: 700px;
    height: 100%;
    bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

